html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(34, 143, 233, 0.637);
}

.container {
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px 50px;

}

.bold {
    font-weight: bold;
}

/* Header */

.header {
    text-align: center;
}



.main-title {
    font-size: 40px;
}

.main-paragraph {
    font-style: italic;
    text-decoration: underline;
    text-align: center;

}




/* Imagem destaque */

.featured-image {
    text-align: center;
    margin-top: 30px;

}

.featured-image img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}



/* Biografia */

.biography-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

/* Quotes */

.quotes-container {
    background-color: #ddd;
    padding: 30px;
    border-radius: 8px;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p {
    font-style: italic;
    font-size: 20px;
}

/* Curiosidades */

.curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.curiosities-container li {

    padding: 10px 0;
    margin: 10px 0;
}

/* Imagem Bold */

.img-bold {
    font-weight: bold;
    text-align: center;
}

.img-bold img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.quotes-container img {
    width: 5%;
    height: auto;
    margin-top: 5px;
}